<div id="song-content">
    <img id="background-image" src="/../images/album.png">
    <div id="song-box" class="content-box">
        <img id="song-cover" src="/../images/album.png">
        <div id="song-details" class="details">
            <div  class="input-field">
                <label>Title</label>
                <input id="song-title-edit" value = "<%=data.song_name%>"></input>
            </div>
            <div class="input-field" style="height: fit-content;">
                <label>Artist</label>
                <input id="song-artist-edit" value ="<%=data.artist_name%>" ></input>
            </div>
            <hr>
            <h1>Song details:</h1>
            <div class="input-field">
                <label>Album</label>
                <input id="song-album-edit" value = '<%= data.album_name %>'></input>
            </div>
            <div  class="input-field">
                <label>Category</label>
                <input id="song-category-edit" value = '<%= data.category %>' ></input>
            </div>
            <div  class="input-field">
                <label>Info</label>
                <input id="song-info-edit" value = '<%= data.song_info %>'></input>
            </div>
            <hr>
            <div style="margin-top: 50px; margin-bottom: 10px">  
                <button id = "song-play-button" onclick="updateSong('<%= data.song_id %>')">Save</button>
                <button id = "song-add-queue" onclick="navigateTo('/admin/song/<%- data.song_id %>')">Cancel</button>
            </div>
        </div>
    </div>
</div>
