<div id="dashboard">
    <img id="background-image" src="../images/eguitar.jpg">
    <div id="welcome-message">
        Welcome, Admin!
    </div>
    <div class="content-box"> 
        <h1>Overview</h1> 
            <hr>
        <div class="catalogue">
            <div class="button-with-image">
                <i class="fas fa-eye button-with-image-icon"></i>
                
                <div class="button-with-image-info">
                    <div class="button-with-image-title"><%- viewcount %></div>
                    <div class="button-with-image-description" style="width: 70%">Views</div> 
                </div>
            </div>
            <div class="button-with-image">
                <i class="fas fa-music button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title"><%- num_of_song %></div>
                    <div class="button-with-image-description" style="width: 70%">Songs</div> 
                </div>
            </div>
            <div class="button-with-image">
                <i class="fas fa-record-vinyl button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title"><%- num_of_album %></div>
                    <div class="button-with-image-description" style="width: 70%">Albums</div> 
                </div>
            </div>
            <div class="button-with-image">
                <i class="fas fa-microphone-alt button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title"><%- num_of_artist %></div>
                    <div class="button-with-image-description" style="width: 70%">Artists</div> 
                </div>
            </div>
            <div class="button-with-image">
                <i class="fas fa-user-circle button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title"><%- num_of_client %></div>
                    <div class="button-with-image-description" style="width: 70%">Users</div> 
                </div>
            </div>
        </div>
    </div>
    <div class="content-box"> 
        <h1>Manage</h1> 
            <hr>
        <div class="catalogue">
            <div class="button-with-image" onclick="navigateTo('/admin/song/manage')">
                <i class="fas fa-music button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title" style="width: 70%">Manage Songs</div>
                   
                </div>
            </div>
            <div class="button-with-image" onclick="navigateTo('/admin/album/manage')">
                <i class="fas fa-record-vinyl button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title" style="width: 70%">Manage Albums</div>
                    
                </div>
            </div>
            <div class="button-with-image" onclick="navigateTo('/admin/artist/manage')">
                <i class="fas fa-microphone-alt button-with-image-icon"></i>
                <div class="button-with-image-info">
                    <div class="button-with-image-title" style="width: 70%">Manage Artists</div>
                    
                </div>
            </div>
        </div>
    </div>
    
</div>


