<div id="artist-content">
    <img id="background-image" src="../<%=data.artist_image%>" alt="">
    <div id="artist-headings">
        
        <p id="artist-name"> <%= data.artist_name %> </p>
        <% if(loggedIn){ if(isFavorite){%>
            <button id="favorite-button" onclick="remove_favorite('<%= data.artist_id %>')"><i class="fas fa-heart"></i></button>
        <% } else {%>
            <button id="favorite-button" onclick="add_favorite('<%= data.artist_id %>')"><i class="far fa-heart"></i></button>
        <% } } %>
    </div>
    
    <div id="artist-top-songs" class="content-box">
        <h1>All Songs</h1>
        <hr>
        <% songs.forEach(song => { %>
                <div class="list-item-song" onclick = "navigateTo('/song/<%=song.song_id%>')">
                    <img class="list-song-cover" src="../<%=song.album_image%>">
                    <div class="list-song-title"><%= song.song_name%></div>
                    <div class="list-song-artist"><%=song.artist_name%></div>
                    <div class="list-song-album"><%=song.album_name%></div>
                    <div class="list-song-duration"><%= song.duration %></div>
                </div>
        <% }) %>
    </div>
    </div>
    <div id="artist-albums" class="content-box">
        <h1>Albums</h1> 
        <hr>
        <div class="catalogue">
            <% albums.forEach(album => { %>
                <div class="box-album" onclick = "navigateTo('/album/<%=album.album_id%>')">
                    <img class="box-album-cover" src="../<%=album.album_image%>">
                    <div class="box-album-title"><%=album.album_name%></div>
                    <div class="box-album-artist"><%=album.artist_name%></div>
                </div>
                <% }) %> 
        </div>
        <hr>
    </div>
    <div id="artist-info" class="content-box">
        <div id="artist-details" class="details">
            <h1>About this Artist</h1>
            <p><%= data.artist_info %></p>
        </div>
       
    </div>
        
    </div>
</div>