    <div id="dashboard">
        <img id="background-image" src="../images/eguitar.jpg">
        <div id="welcome-message">
            Welcome to our website!
        </div>
        <div id="library" class="content-box"> 
            <h1>Your Library</h1> 
            <%if(loggedIn){ %>
            <button id = "add-playlist-button"  onclick = "navigateTo('/playlist/add')"> Add Playlist</button>
            <% }%>
            <hr>
            <div class="catalogue">
                <%if(loggedIn){ %>
                <% playlists.forEach(playlist => { %>
                <div class="box-playlist" onclick = "navigateTo('/playlist/<%=playlist.playlist_id%>')">
                    <img class="box-playlist-cover" src="../images/album.png">
                    <div class="box-playlist-title"><%= playlist.playlist_name %></div>
                    <div class="box-playlist-disc"><%= playlist.playlist_info %></div> 
                </div>
                <% })} else {%> 
                    Login to view your playlists
                <% }%>
            </div>
        </div>
        <div id = "recent" class="content-box">
            <h1>Recently played</h1> 
            <hr>
            <div class="catalogue">
                <div class="recent-song">
                    <img class="recent-song-cover" src="../images/album.png">
                    <div class="recent-song-info">
                        <div class="recent-song-title">Stellar Stellar</div>
                        <div class="recent-song-artist">Hoshimachi Suisei</div> 
                    </div>
                </div>
            </div>
        </div>
        
        <div id = "favorite-artists" class="content-box">
            <h1>Your Favorite Artists</h1> 
            <hr>
            <div class="catalogue">
                <%if(loggedIn){ %>
                <% artists.forEach(artist => { %>
                    <div class="box-artist" onclick = "navigateTo('/artist/<%=artist.artist_id%>')">
                        <img class="box-artist-cover" src="../images/album.png">
                        <div class="box-artist-name"><%= artist.artist_name%></div>
                    </div>
                <% })} else {%> 
                        Login to view your favorite artists
                    <% }%>
            </div>
        </div>
    </div>


